header {
  background-color: black;
  color: aqua;
  text-align: center;
}

main {
  background-color: rgb(190, 190, 190);
  padding: 1em;
}

body {
  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0;
}
